.login{
	 height: calc(100vh - 50px);
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
}
.loginform{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.logintitle{
	font-size: 50px;
	color: #484545;
}
.logininput {
	margin-bottom: 25px;
	padding: 10px;
	border-radius: 5px;
}
.loginlabel{
	font-size: 30px;
	margin-bottom: 10px;
}

.loginBtn{
	margin: 20px;
	color: white;
    cursor: pointer;
	background-color: darkgreen;
	padding: 10px;
	border-radius: 5px;
	border: none;
}
.loginBtn:disabled{
	cursor: not-allowed;
	background: rgb(162, 175, 162);
}
.loginRegister{
	margin-top: 50px;
}
.loginRegistertitle{
	font-style: italics;
}

.loginRegisterbtn {
	background-color: blue;
	color: white;
	cursor: pointer;
	padding: 10px;
	border-radius: 5px;
	border: none;
}