.sidebar{
	flex: 3;
	margin: 20px;
	padding-bottom: 30px;
	background-color: #F3E5E5;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sideItem{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sideTitle{
	margin: 5px;
	padding: 5px;
	width: 80%;
	font-family: lota;
	border-top: #2D1717;
	border-bottom: #2D1717;
	font-weight: 600;
	color: #222;
	text-align: center;
}
.sidebar .sideItem img{
	 margin-top: 20px;
	 width: 100%;
}
.sidebar .sideItem p{
	 margin: 10px;
}
.sidebar .sideItem ul{
	 list-style-type:none;
	 margin-top: 10px; 
}
.sidebar .sideItem ul li {
	display: inline-block;
	width: 50%;
	margin-top: 10px;
	cursor: pointer;
}
.sidebar .sideItem .sidebarScial{
	display: flex;
	justify-content: center;
	align-items: center;
}
.sidebar .sideItem .sidebarScial .sideIcon{
	margin-left: 10px;
	font-size:  16px;
	cursor: pointer;	
}